body{
    background-color: rgb(153, 140, 140);
}

.div-clss-senha{
    background-color:rgb(0, 0, 0) ;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#id-div-senha{
    display: flex;
    justify-content: center;
    margin:auto;

}
#id-div-senha input{
    width: 200px;
    height: 30px;
    padding-right: 25px;
    border: 2px solid rgb(255, 255, 255) ;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position: relative;
    top: 4px;
   
}


/* div olho*/
#id-div-olho{
    background-color: transparent;
    position: relative;
    cursor: pointer;
    right: 32px;
    top: 3px;
    width: 28px;
    height: 24px;
}

 #id-img-olho{
    position: relative;
    cursor: pointer;
    left: 4px;
    top: 5px;
    width: 28px;
    height: 20px;
    color: rgb(153, 13, 13);
}

#id-img-iris{
    position:absolute;
    cursor: pointer;
    top: 10px;
    left: 14px;
    width: 8px;
    border-radius: 50%;
    pointer-events:none; /* Impede que a pupila receba eventos do mouse */
}


