body{
    background-color: rgb(153, 140, 140);
}

.div-clss-senha{
    background-color:rgb(0, 0, 0) ;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#id-div-senha{
    display: flex;
    margin: auto;
    width: 930px;
    height: 110px;
    background-color: rgb(255, 255, 255);
    border: 2px solid blue;
    border-radius: 10px;
}
#id-div-senha input{
    width: 710px;
    height: 100px;
    padding-right: 25px;
    border: 2px solid rgb(255, 255, 255) ;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position: relative;
    top: 4px;
    justify-content: center;
    align-items: center;
    font-size: 70px;
   
}


/* div olho*/
#id-div-olho{

    display: flex;
    background-color: red;
    position: relative;
    cursor: pointer;
    right: 0%;
    top: 50%;
    width: 200px;
    height: 100px;
    transform: translate(-0%,-50%);
}

 #id-img-olho{
    
    cursor: pointer;
    width: 200px;
    height: 100px;
    color: rgb(153, 13, 13);
    margin: auto;
    justify-content: center;
    align-items: center;
}

#id-img-iris{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 20%;
    pointer-events:none; /* Impede que a pupila receba eventos do mouse */
    
}


